In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import sys
import math
import re

In [2]:
df_cho = pd.read_csv('base-cc-emploi-pop-active-2018.CSV',sep=';')
df_presi = pd.read_csv('dataset_votes_presidentielles_debut_sociaux.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df_cho_lat = df_presi[['Code Insee','Latitude','Longitude','Dep']].drop_duplicates().merge(df_cho[['CODGEO',
                                       'P18_ACT1564','P18_CHOM1564','P18_HACT1564','P18_FACT1564','P18_HCHOM1564',
                                                             'P18_FCHOM1564','P18_HCHOM1524','P18_FCHOM1524','P18_ACT1524','P18_HACT1524','P18_FACT1524'
                                                      ]],left_on='Code Insee',right_on='CODGEO')
df_cho_lat['taux_chomage']=df_cho_lat['P18_CHOM1564']/df_cho_lat['P18_ACT1564']
df_cho_lat['taux_chomage_masculin']=df_cho_lat['P18_HCHOM1564']/df_cho_lat['P18_HACT1564']
df_cho_lat['taux_chomage_feminin']=df_cho_lat['P18_FCHOM1564']/df_cho_lat['P18_FACT1564']
#df_cho_lat['taux_chomage_jeune']=df_cho_lat['P18_CHOM1524']/df_cho_lat['P18_ACT1524']
df_cho_lat['taux_chomage_jeune_masculin']=df_cho_lat['P18_HCHOM1524']/df_cho_lat['P18_HACT1524']
df_cho_lat['taux_chomage_jeune_feminin']=df_cho_lat['P18_FCHOM1524']/df_cho_lat['P18_FACT1524']

In [7]:
df_cho_lat[df_cho_lat['taux_chomage_jeune_feminin'].isnull()][['P18_HCHOM1524','P18_HACT1524']]

       P18_HCHOM1524  P18_HACT1524
15          1.018116      7.126812
17          1.000000      3.000000
37          0.969697      2.909091
83          0.000000      3.943262
91          1.880000      1.880000
...              ...           ...
20219       0.000000      1.926606
20251       1.927869      6.704515
20317       9.985775     19.971550
21140       0.000000      3.000000
21232       1.077586      5.387931

[514 rows x 2 columns]